<h1>Todo</h1>

<div class="container">
    <div class="alert alert-warning" *ngIf="todoForm.dirty && todoForm.invalid">Invalid Fields</div>

    <form (ngSubmit)="!todoForm.invalid && saveTodo()" #todoForm="ngForm">
        <fieldset class="form-group">
            <label for="description">Description</label>
            <input type="text" [(ngModel)]="todo.description" name="description" id="description" class="form-control" required="required" minlength="5">
        </fieldset>

        <fieldset class="form-group">
            <label for="targetDate">Target Date</label>
            <input type="date" [ngModel]="todo.targetDate | date: 'yyyy-MM-dd'" (ngModelChange)="todo.targetDate = $event" name="targetDate" id="targetDate" class="form-control" required="required">
        </fieldset>
        
        <button type="submit" class="btn btn-success">Save</button>

    </form>
</div>